<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">YAMC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;" [routerLink]="['home']" >Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;" [routerLink]="['ventas']" >Ventas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['reg-clientes']">Registrar Cliente</a>
          <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['productos']">Registrar producto</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="openVerticallyCentered(longContent)">Recargar Producto</a>

        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscador" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title ml-3">Recargar Productos!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-4">
      <label style="width: 318px;" for="inputState">Seleccione el codigo del producto</label>
      <select style="width: 318px;" [(ngModel)]="codigo" (change)="selectCodigo()" id="inputState" class="form-control">
        <option selected>Codigos del producto</option>
        <option  value="{{i.codigo}} | {{i.cantidad}}" *ngFor="let i of binding">
          {{i.codigo}}
        </option>
      </select>
    </div>
    <input [(ngModel)]="tres" style="display: none;" type="text">
   <label class="ml-3" for="">Nueva cantidad</label>
   <input style="width: 318px;" [(ngModel)]="cantidad" class="form-control ml-3" type="number">
  </div>
  <div class="modal-footer">
    <button type="button" (click)="actualizarCantidad()" (click)="modal.close('Close click')" class="btn btn-success">Recargar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

